<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://t.ctcdn.com.br/au5FHOyCbvkpo5sigcwRbe4-6z0=/340x265:1654x1005/640x360/smart/i521747.jpeg" alt="" height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eum ad tenetur rem inventore excepturi id? Obcaecati deserunt minus, inventore eius ratione, quos ducimus earum adipisci aut saepe aliquid omnis.
      </a>
    </p>
  </div>
</div>
